@tailwind base;
@tailwind components;
@tailwind utilities;

/* Hide the default scrollbar */
.scrollable-table::-webkit-scrollbar {
  width: 8px;
}

/* Track */
.scrollable-table::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
.scrollable-table::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 4px;
}

/* Handle on hover */
.scrollable-table::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.fixTableHead {
  overflow-y: auto;
  max-height: 24rem;
}
.fixTableHead thead th {
  position: sticky;
  top: 0;
  height: 5rem;
}
table {
  border-collapse: collapse;
  width: 100%;
}
th,
td {
  padding: 8px 15px;
  border: 2px solid #529432;
}
th {
  background: #abdd93;
}
